<div class="col-md-4 text-center animate-box">
<a href="/recipes/{{id}}">
    <div class="product">
        <div class="product-grid" style="background-image:url({{image_url}});">
            <div class="inner">
            </div>
        </div>
        <div class="desc">
            <h3>{{title}}</h3>
        </div>
    </div>

    <a href="/dashboard/edit/{{id}}" class="btn btn-primary btn-outline btn-lg">Edit Recipe</a>

</a>
</div>
