<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
</head>
            <div>
                <div class="row">
                    <div>                         
                        <h2 class="center">Add New Recipe</h2>                                            
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-4 title">
                        <form class="recipe-form" action="/upload" enctype="multipart/form-data">
                            <div>
                                <div class="col-md-12">
                                    <label for="title">Title:</label>
                                    <input type="text" id="title" class="form-control" placeholder="">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <label for="ingredients">Ingredients:</label>
                                    <textarea name="ingredients" id="ingredients" 
                                        class="form-control" placeholder=""></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <label for="description">How To Make:</label>
                                    <textarea name="description" id="description" cols="30" rows="10" class="form-control"
                                        placeholder=""></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <label for="image_url">Image link:</label>
                                    <input type="file" name="image" id="image_url" class="form-control" placeholder="A url to your image">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <label for="category">Category:</label>
                                </div>
                                <div class="col-md-12">
                                    <select id="category" class="select-css">
                                        <option value="">Please choose a category</option>
                                        <option value="Appetizers">Appetizers</option>
                                        <option value="Breakfast">Breakfast</option>                                       
                                        <option value="Dessert">Dessert</option>
                                    </select>
                                </div>

                            </div>
                            <div class="form-group">
                                <input type="submit" value="Submit" class="btn btn-primary">
                            </div>

                        </form>

                    </div>

                </div>

    <script src="/javascript/addPost.js"></script>

